################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SSOService/obj
/SSOService/bin/Debug/net5.0/zh-Hans
/SSOService/bin/Debug/net5.0
/SSOService/.vs/SSOService/config
/SSOService/.vs/SSOService/DesignTimeBuild
/SSOService/.vs/SSOService/v16
/SSOService/.vs
